<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gin Blog</title>
	<link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<body>
	<div id="container" style="width:800px">

	<div id="header">
		<header class="site-header">
		        <h1><a href="https://127.0.0.1:8080/" title="A/B"><span class="octicon octicon-mark-github"></span> A/B</a></h1>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
		        <nav class="site-header-nav" role="navigation">

		            <a href="" class=" site-header-nav-item" target="" title="首页">首页</a>
		
		            <a href="" class=" site-header-nav-item" target="" title="分类">分类</a>
		
		            <a href="" class=" site-header-nav-item" target="" title="归档">归档</a>
		
		            <a href="" class=" site-header-nav-item" target="" title="关于">关于</a>
		
		        </nav>
		</header>
	</div>
	
	<div id="content" style="background-color:#EEEEEE;height:200px;width:700px;float:left;">
	Content goes here</div>
	
	<div id="menu" style="background-color:#FFD700;height:200px;width:100px;float:left;">
	<b>Menu</b><br>
	HTML<br>
	CSS<br>
	JavaScript</div>
	
	<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
	Copyright © w3cschool.cn</div>
	</div>

</body>
</html>